/* Fonts (Bold)*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* Fonts (medium)*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*bold*/
/*regular*/
/*Resets */
*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Utilities*/
.hidden {
  display: none;
}

#hidden {
  display: none;
}

.unhidden {
  display: block;
}

.title {
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-weight: 700;
  text-align: center;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

@media screen and (min-width: 499px) {
  footer {
    width: 100%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 499px) {
  .footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 51.5px;
    width: 100%;
    margin-top: 51.5px;
    overflow: hidden;
  }
}

.footer .footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 47.8px;
}

@media screen and (min-width: 499px) {
  .footer .footer__social-icons {
    margin: auto 0;
  }
}

.footer .footer__social-icons img {
  margin-left: 20px;
}

.footer .footer__social-icons .footer__social-icons li img:hover {
  background: #572EE5;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.footer .footer-title {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 47px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

@media screen and (min-width: 499px) {
  .footer .footer-title {
    margin-bottom: unset;
    margin-top: unset;
    margin-left: 156px;
  }
}

.footer li {
  list-style: none;
}

.footer .footer-copyright {
  margin-bottom: 23px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 499px) {
  .footer .footer-copyright {
    margin-bottom: unset;
    margin-right: 158px;
  }
}

@media screen and (min-width: 499px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.border-bottom {
  border-bottom: solid #572EE5 5px;
}

/*Header*/
.border-top {
  border-top: solid #572EE5 5px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
  margin-bottom: 7px;
}

@media screen and (min-width: 499px) {
  header {
    margin-bottom: 0px;
  }
}

.logo__container {
  margin-left: 22px;
}

.logo__container svg {
  margin-top: 29px;
  margin-left: 22px;
}

.logo__desktop, .logo__desktop--noc {
  width: 68px;
  height: 60px;
}

/*Hamburguer Menu*/
.hamburger {
  width: 15px;
  margin: 47px 26px 34px 0;
  height: 14px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  z-index: 3;
}

@media screen and (min-width: 499px) {
  .hamburger {
    display: none;
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 499px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #572EE5;
  opacity: .9;
  z-index: 2;
  margin-top: 95px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.menu.display li:first-child {
  margin-top: -35rem;
}

.menu.display li a {
  color: white;
  text-decoration: none;
  border-bottom: white 1px solid;
  position: relative;
  text-decoration: none;
}

.menu.display li a::after {
  background-color: #efefef;
  bottom: -24px;
  content: '';
  display: block;
  height: 1px;
  left: 60%;
  position: absolute;
  -webkit-transform: translate(-60%, 0);
          transform: translate(-60%, 0);
  width: 40px;
}

.menu.display a:link, .menu.display a:active, .menu.display a:visited {
  text-decoration: none;
}

tspan .logo__text {
  font-size: 18px;
  color: #572EE5;
  word-spacing: 21px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 499px) {
  nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 499px) {
  nav ul {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media screen and (min-width: 499px) {
  nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
  }
}

nav ul li a {
  text-decoration: none;
  color: #572EE5;
  line-height: 60px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 499px) {
  nav ul li a {
    font-size: 13px;
    font-weight: 700;
  }
}

@media screen and (min-width: 499px) {
  .floating-button-container {
    margin-top: 23px;
    margin-right: 156px;
    margin-left: 53px;
  }
}

/*Floating Action Button*/
.floating__button {
  border-radius: 100%;
  background-color: white;
  width: 54px;
  height: 54px;
  color: #572EE5;
  outline: none;
  border: 1px solid #572EE5;
  display: none;
}

@media screen and (min-width: 499px) {
  .floating__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }
}

@media screen and (min-width: 499px) {
  .floating__button:hover {
    background-color: #572EE5;
    color: white;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

.kc_fab_main_btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Hero Section*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__image {
  width: 273px;
  height: 130px;
  margin-bottom: -53px;
  margin-left: 22px;
}

@media screen and (min-width: 499px) {
  .hero__image {
    width: 399px;
    height: 190px;
    margin-left: 65px;
  }
}

.hero__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.hero__container h1 {
  max-width: 286px;
  height: 99px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
}

@media screen and (min-width: 499px) {
  .hero__container h1 {
    max-width: 600px;
    height: 100px;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
  }
}

.hero__container .hero__container-gifos {
  color: #5ED7C6;
}

.hero__container .hero__search {
  position: relative;
  margin-left: 293px;
  margin-top: 15px;
}

@media screen and (min-width: 499px) {
  .hero__container .hero__search {
    margin-left: 510px;
    cursor: pointer;
    color: #572EE5;
    font-size: 20px;
  }
}

.hero-search__input {
  border-radius: 27px;
  width: 334px;
  height: 50px;
  padding-left: 50px;
  position: absolute;
  padding-left: 50px;
  border: #572EE5 solid 1px;
}

@media screen and (min-width: 499px) {
  .hero-search__input {
    width: 551px;
  }
}

@media screen and (min-width: 499px) {
  ::-webkit-input-placeholder {
    font-family: "Roboto", sans-serif;
    color: #9CAFC3;
    font-size: 16px;
  }
  :-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    color: #9CAFC3;
    font-size: 16px;
  }
  ::-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    color: #9CAFC3;
    font-size: 16px;
  }
  ::placeholder {
    font-family: "Roboto", sans-serif;
    color: #9CAFC3;
    font-size: 16px;
  }
}

.hero__trending--text {
  text-align: center;
}

.hero__trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  line-height: 25px;
}

.hero__trending .hero__trending--title {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  text-align: center;
  font-weight: 700;
  margin-top: 31px;
}

.hero__trending .hero__trending--text {
  text-align: center;
  font-size: 14px;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
}

@media screen and (min-width: 499px) {
  #hero__search {
    border: none;
    background: transparent;
  }
}

@media screen and (min-width: 499px) {
  #hero-search-live-search {
    border: solid 1px #572EE5;
    margin-top: 3.1rem;
    width: 550px;
    border: 1px solid #572EE5;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    display: block;
    padding: 3.4rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .live-search-icon {
    color: #9CAFC3;
    width: 15.8px;
    height: 15.8px;
    margin-right: 14.6px;
  }
}

.favoritos-gif-container {
  margin: 0 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[auto];
      grid-template-rows: repeat(auto, 1fr);
  gap: 21px;
}

@media screen and (min-width: 499px) {
  .favoritos-gif-container {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

.favoritos-container {
  text-align: center;
}

.title-favoritos {
  margin-bottom: 46px;
}

.ver-mas-container {
  text-align: center;
  margin: 78px auto;
}

.ver-mas {
  border-radius: 25px;
  border: 1px solid #572EE5;
  width: 127px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  padding: 18px 31.5px 16px 32.5px;
  font-size: 13px;
  font-weight: bold;
}

.ver-mas:hover {
  background: #572EE5;
  color: white;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.mis-gifos-gif-container {
  margin: 0 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[auto];
      grid-template-rows: repeat(auto, 1fr);
  gap: 21px;
}

.mis-gifos-container {
  text-align: center;
}

.title-mis-gifos {
  margin-bottom: 46px;
}

.mascotas-gif-container {
  margin: 0 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[auto];
      grid-template-rows: repeat(auto, 1fr);
  gap: 21px;
}

.mascotas-container {
  text-align: center;
}

.title-mascotas {
  margin-bottom: 38px;
  font-size: 25px;
}

.ver-mas-container {
  text-align: center;
  margin: 78px auto;
}

.ver-mas {
  border-radius: 25px;
  border: 1px solid #572EE5;
  width: 127px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  padding: 18px 31.5px 16px 32.5px;
  font-size: 13px;
  font-weight: bold;
}

.separator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.separator {
  width: 157px;
  height: 1px;
  text-align: center;
  background-color: #9CAFC3;
  opacity: .5;
  margin-top: 35px;
  margin-bottom: 43px;
}

/*Dark Mode*/
#dark-mode-gray__header {
  background-color: #37383C;
}

#dark-mode-gray__header svg #GIFOS {
  fill: white;
}

#dark-mode-gray__header .floating__button {
  border: none;
}

#dark-mode-gray__header a {
  color: white;
}

#dark-mode-gray__hero {
  background-color: #37383C;
}

#dark-mode-gray__hero h1, #dark-mode-gray__hero i, #dark-mode-gray__hero p, #dark-mode-gray__hero ul > li {
  color: white;
}

#dark-mode-gray__hero #hero-search-live-search {
  border: 1px solid white;
}

#dark-mode-gray__hero .hero-search__input {
  background-color: #37383C;
  border: 1px solid white;
}

#dark-mode-gray__footer {
  background-color: #37383C;
  margin-bottom: 0;
  margin-top: 0;
  height: 116px;
}

#dark-mode-gray__footer p, #dark-mode-gray__footer li {
  color: white;
}

#dark-mode-gray__footer .footer {
  margin-top: 0;
  padding: 25px 0;
  margin-bottom: 0;
}

#dark-mode-dark-gray__trending-gifos {
  background-color: #222326;
  margin-top: 0;
}

#dark-mode-dark-gray__trending-gifos h2, #dark-mode-dark-gray__trending-gifos p {
  color: white;
}

#dark-mode-dark-gray__trending-gifos .trending-gifos-gif-container {
  margin-bottom: 0px;
}

#dark-mode-dark-black__top-border {
  border-top: solid black 5px;
}

#dark-mode-dark-black__bottom-border {
  border-bottom: solid black 5px;
}

.text-white {
  color: white;
}

.trending-gifos {
  max-height: 430px;
  background-color: #F3F5F8;
  margin: 0 auto;
  width: 100%;
  margin-top: 46px;
}

@media screen and (min-width: 499px) {
  .trending-gifos {
    max-height: 640px;
  }
}

.trending-gifos .arrow-container {
  display: none;
}

.trending-gifos .trending-gifos-gif-container {
  margin-top: 32px;
  margin-left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 82px;
  overflow: hidden;
}

.trending-gifos .trending-gifos-gif-container img {
  max-width: 243px;
  height: 187px;
}

@media screen and (min-width: 499px) {
  .trending-gifos .trending-gifos-gif-container {
    margin-bottom: 182px;
  }
  .trending-gifos .trending-gifos-gif-container img {
    max-width: 357px;
    height: 275px;
    margin-bottom: 182px;
  }
}

.trending-gifos .trending-gifos-text {
  text-align: center;
}

.trending-gifos .trending-gifos-text .trending-gifos-text-title {
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-weight: 700;
  padding-top: 46px;
  margin-bottom: 7px;
}

.trending-gifos .trending-gifos-text .trending-gifos-text-text-content {
  line-height: 23px;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 499px) {
  .trending-gifos .trending-gifos-text-content-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.trending-gifos .arrow-container-left, .trending-gifos .arrow-container-right,
.trending-gifos .arrow-left, .trending-gifos .arrow-right {
  visibility: hidden;
}

@media screen and (min-width: 499px) {
  .trending-gifos .arrow-container-left, .trending-gifos .arrow-container-right,
  .trending-gifos .arrow-left, .trending-gifos .arrow-right {
    visibility: unset;
  }
}

@media screen and (min-width: 499px) {
  .trending-gifos .arrow-container-left, .trending-gifos .arrow-container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    height: 275px;
  }
  .trending-gifos .arrow-container-left {
    margin-left: 94px;
    margin-right: 22px;
  }
  .trending-gifos .arrow-container-right {
    margin-left: 22px;
    margin-right: 92px;
  }
  .trending-gifos .arrow-left:hover, .trending-gifos .arrow-right:hover {
    background: #572EE5;
    color: white;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

.trending-gifos .arrow-left, .trending-gifos .arrow-right {
  margin: auto 0;
  padding-top: 8px;
  font-size: 16px;
  color: #572EE5;
  font-weight: 700;
  height: 40px;
  width: 40px;
  border: 1px solid #572EE5;
}

.trending-gifos-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 499px) {
  .trending-gifos-enclosure {
    max-width: 100%;
    height: 275px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 182px;
    text-align: center;
    gap: 29px;
  }
}

.trending-gifos-gif__container:hover .trending-gifos-gif__overlay {
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.trending-gifos-gif__container {
  position: relative;
  height: 275px;
  width: 100%;
}

.trending-gifos-gif__overlay {
  background-color: #572EE5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (min-width: 499px) {
  .search-results-container {
    text-align: center;
  }
  .search-results-container .search-results {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(140px, 260px))[4];
        grid-template-columns: repeat(4, minmax(140px, 260px));
    -ms-grid-rows: (200px)[auto];
        grid-template-rows: repeat(auto, 200px);
    padding: 0 140px;
    grid-gap: 25px;
  }
  .search-results-container .search-results .search-results__gif-container {
    position: relative;
    height: 200px;
    width: 100%;
  }
}

@media screen and (min-width: 499px) {
  .search-title {
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 35px;
    text-align: center;
    color: #572EE5;
    line-height: 30px;
  }
  .hero-search-live-search p {
    margin-bottom: 10px;
  }
}

.search-results__gif-container {
  position: relative;
  height: 200px;
  width: 100%;
}

.search-results__gif-container:hover #search-results-overlay {
  opacity: 0.7;
}

@media screen and (min-width: 499px) {
  .search-results__gif {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

#search-results-overlay {
  background-color: #572EE5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
/*# sourceMappingURL=main.css.map */