/* Fonts (Bold)*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* Fonts (medium)*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*bold*/
/*regular*/
/*Resets */
*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Utilities*/
.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: solid #572EE5 5px;
}

.footer .footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 47.8px;
}

.footer .footer__social-icons img {
  margin-left: 20px;
}

.footer .footer-title {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 47px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.footer li {
  list-style: none;
}

.footer .footer-copyright {
  margin-bottom: 23px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/*Header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid #572EE5 5px;
  height: 95px;
  margin-bottom: 7px;
}

.logo__container {
  margin-top: 29px;
  margin-left: 22px;
}

.logo__desktop, .logo__desktop--noc {
  width: 68px;
  height: 60px;
}

tspan .logo__text {
  font-size: 18px;
  color: var(--primary-color);
  word-spacing: 21px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

/*Floating Action Button*/
.floating__button {
  background-color: var(--primary-color);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: var(--primary-color);
  border: none;
  outline: none;
  color: #FFF;
  font-size: 36px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: .3s;
  transition: .3s;
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.kc_fab_main_btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Hero Section*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__image {
  width: 273px;
  height: 130px;
  margin-bottom: -10px;
  margin-left: 22px;
}

.hero__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.hero__container h1 {
  max-width: 286px;
  height: 99px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
}

.hero__container .hero__container-gifos {
  color: #5ED7C6;
}

.hero__container .hero__search {
  position: relative;
  margin-left: 293px;
  margin-top: 15px;
}

.hero-search__input {
  border-radius: 27px;
  width: 334px;
  height: 50px;
  padding-left: 50px;
  position: absolute;
  padding-left: 50px;
}

.hero__trending--text {
  text-align: center;
}

.hero__trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  line-height: 25px;
}

.hero__trending .hero__trending--title {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  text-align: center;
  font-weight: 700;
  margin-top: 31px;
}

.hero__trending .hero__trending--text {
  text-align: center;
  font-size: 14px;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
}

.trending-gifos {
  max-height: 430px;
  background-color: #F3F5F8;
  margin: 0 auto;
  width: 100vw;
  margin-top: 46px;
}

.trending-gifos .trending-gifos-gif-container {
  margin-top: 32px;
  margin-left: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 82px;
}

.trending-gifos .trending-gifos-gif-container img {
  margin-left: 22px;
}

.trending-gifos-text {
  text-align: center;
}

.trending-gifos-text .trending-gifos-text-title {
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-weight: 700;
  padding-top: 46px;
  margin-bottom: 7px;
}

.trending-gifos-text .trending-gifos-text-text-content {
  line-height: 23px;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=main.css.map */