/* Fonts (Bold)*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


/* Fonts (medium)*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


    $primary-color: #572EE5;
    $secundary-color: #5ED7C6;
    $background-color: #F3F5F8;
    $primary-font: 'Montserrat', sans-serif; /*bold*/
    $secondary-font: 'Roboto', sans-serif; /*regular*/
    $primary-size: 16px;
    $small-font-size: 14px;
    $large-font-size: 20px;
    $dark-mode-black: black;
    $dark-mode-gray: #37383C;
    $dark-mode-dark-gray:  #222326;
    $light-gray: #9CAFC3;


// :root {
//     --autocomplete-suggestion-list-style-image: url("../../assets/icon-search.svg")
// }

// [data-theme="dark"] {
// --autocomplete-suggestion-list-style-image: url("../../assets/icon-search-modo-noct.svg");

//     }

@mixin loadSocialMediaIcon($url) {
    height: 20px;
    width: 20px;
    background-image: $url;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

@mixin loadGifIcon($url) {
    height: 32px;
    width: 32px;
    background-image: url($url);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    border-radius: 6px;
    cursor: pointer;
}

:root {
    --top-bottom-borders: #572EE5;
    --background-main-color: white;
    --primary-color: #572EE5;
    --primary-color-menu-display: var(--primary-color);
    --primary-text-color: var(--primary-color);
    --trending-terms-color: var(--primary-color);
    --input-background: white;
    --input-text-color: black;
    --background-trending-section: #F3F5F8;
    --standard-text-color: black;
    --search-icon: url('../../assets/icon-search.svg');
    --input-close-button: url('../../assets/close.svg');
    --hamburger: url('../../assets/burger.svg');
    --close-hamburger: url('../../assets/close.svg');
    --desktop-logo: url('../../assets/logo-desktop.svg');
    --hero-search-separator: #222326;
    --border: #572EE5;
    --button-background: white;

    // --secundary-color: #5ED7C6;
    // --background-color: #F3F5F8;
    // --primary-font: 'Montserrat', sans-serif; /*bold*/
    // --secondary-font: 'Roboto', sans-serif; /*regular*/
    // --primary-size: 16px;
    // --small-font-size: 14px;
    // --large-font-size: 20px;
    // --dark-mode-black: black;
    // --dark-mode-dark-gray:  #222326;
    // --light-gray: #9CAFC3;
    // --auto-complete-text: black;
}


.dark-mode {
    --top-bottom-borders: black;
    --background-main-color: #37383C;
    --primary-color: white;
    --primary-color-menu-display: black;
    --primary-text-color: var(--primary-color);
    --trending-terms-color: var(--primary-color);
    --input-background: var(--background-main-color);
    --input-text-color: var(--primary-color);
    --auto-complete-text: var(--primary-color);
    --auto-complete-text-on-hover: #2e2d2d;
    --background-trending-section: #222326;
    --standard-text-color: var(--primary-color);
    --search-icon: url('../../assets/icon-search-modo-noct.svg');
    --input-close-button: url('../../assets/close-modo-noct.svg');
    --hamburger: url('../../assets/burger-modo-noct.svg');
    --close-hamburger: url('../../assets/close-modo-noct.svg');
    --hero-search-separator: white;
    --desktop-logo: url('../../assets/Logo-modo-noc.svg');
    --border: white;
    --button-background: #37383C;



    // --secundary-color: #5ED7C6;
    // --background-color: #F3F5F8;
    // --dark-mode-black: black;
    // --dark-mode-gray: #37383C;
    // --dark-mode-dark-gray:  #222326;
    // --light-gray: #9CAFC3;
}