/* Fonts (Bold)*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


/* Fonts (medium)*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


    $primary-color: #572EE5;
    $secundary-color: #5ED7C6;
    $background-color: #F3F5F8;
    $primary-font: 'Montserrat', sans-serif; /*bold*/
    $secondary-font: 'Roboto', sans-serif; /*regular*/
    $primary-size: 16px;
    $small-font-size: 14px;
    $large-font-size: 20px;
    $dark-mode-black: black;
    $dark-mode-gray: #37383C;
    $dark-mode-dark-gray:  #222326;
    $light-gray: #9CAFC3;

