.footer-social-container {
    h3 {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 15px;
        color: black;
        letter-spacing: 0;
        text-align: center;
    }

    .social-icon-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 100px;
        padding-top: 24px;

        a {
            text-decoration: none;
        }

        .facebook-icon {
            height: 20px;
            width: 20px;
            background-image: url('../../assets/icon_facebook.svg');
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;

            &:hover {
                background-image: url('../../assets/icon_facebook_hover.svg');
            }
        }

        .twitter-icon {
            height: 20px;
            width: 20px;
            background-image: url('../../assets/icon-twitter.svg');
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;

            &:hover {
                background-image: url('../../assets/icon-twitter-hover.svg');
            }
        }

        .instagram-icon {
            height: 20px;
            width: 20px;
            background-image: url('../../assets/icon_instagram.svg');
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;

            &:hover {
                background-image: url('../../assets/icon_instagram-hover.svg');
            }
        }
    }
}