footer {
    border-bottom: 5px solid var(--top-bottom-borders);
    background-color: var(--background-main-color);
    @media screen and (min-width: 980px) {
        display: flex;
        justify-content: space-between;
        height:116px;
        padding: 0 155px;
    }
}


.footer-social-container {
    padding-top: 46px;
    @media screen and (min-width: 980px) {
        padding-top: 0px;
    }
    
    h3 {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 15px;
        color: var(--standard-text-color);
        letter-spacing: 0;
        text-align: center;
        
    }

    .social-icon-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 100px;
        padding-top: 24px;
        margin: 0 auto;
        @media screen and (min-width: 980px) {
            padding-top: 0;

        }
        

        a {
            text-decoration: none;
        }

        .facebook-icon {
            height: 20px;
            width: 20px;
            background-image: var(--facebook-icon);
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;

            &:hover {
                background-image: var(--facebook-icon-hover);
            }
        }

        .twitter-icon {
            height: 20px;
            width: 20px;
            background-image: var(--twitter-icon);
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;

            &:hover {
                background-image: var(--twitter-icon-hover);
            }
        }

        .instagram-icon {
            height: 20px;
            width: 20px;
            background-image: var(--instagram-icon);
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;

            &:hover {
                background-image: var(--instagram-icon-hover);
            }
        }
    }
}

.brand-container h3 {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    color: var(--standard-text-color);
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    padding-top: 46px;
    padding-bottom: 12px;
}

@media screen and (min-width: 980px) {
    .footer-social-container {
        display:inline-flex;
        flex-direction: row;


        h3 {
            margin: auto 0;
        }
    }


    

}