footer {
    border-bottom: solid $primary-color 5px;

}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // border-bottom: solid $primary-color 5px;
        @media screen and (min-width: 499px) {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            margin-left: 156px;
            margin-right: 158px;
            max-width: 1440px;
        }

    .footer__social-icons {
        display:flex;
        justify-content: center;
        margin-bottom: 47.8px;

        img {
            margin-left: 20px;
        }
    }

    .footer-title {
        text-align: center;
        margin-bottom: 24px;
        margin-top: 47px;
        font-family: $secondary-font;
        font-size: 15px;
    }

    li {
        list-style: none;
    }

    .footer-copyright {
        margin-bottom: 23px;
        text-align: center;
        font-family: $secondary-font;
        font-size: $small-font-size;
        line-height: $large-font-size;
    }
}