/*Header*/

.border-top {
    border-top: solid var(--top-bottom-borders) 5px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 95px;
    background-color: var(--background-main-color);
}

.header {
    background-color: var(--background-main-color);
}

.logo__container {
    margin-left: 22px;
    // background-image: var(--desktop-logo);

    svg {
    margin-top: 29px;
    margin-left: 22px;
    }
}

.logo__desktop, .logo__desktop--noc {
    width: 68px;
    height: 60px;
}

/*Hamburguer Menu*/

.hamburger {
    background-image: var(--hamburger);
    width:15px;
    margin: 47px 26px 34px 0;
    height: 14px;
    order:2;
    z-index: 2000;
    @media screen and (min-width: 980px) {
        display:none;
    }
}



.hamburger.hamburger-close {
    display: block;
    background-image: var(--close-hamburger);
    width:15px;
    margin: 47px 26px 34px 0;
    height: 14px;
    order:2;
    z-index: 2000;
    position: relative;
    top: -61px;
    @media screen and (min-width: 980px) {
        display:none;
    }
}

.unhide {
    display:block;
}

.hide {
    display:none;
}


.menu {
    display:none;
    @media screen and (min-width: 980px) {
        display:flex;
        justify-content: space-between;


    }
}
.menu.display {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--primary-color-menu-display);
    opacity: 1;
    z-index: 100;
    top:95px;
    position:absolute;
    left:0;
    text-align: center;


    // li:first-child {
    //     margin-top: -35rem;
    // }
    
    // li a {
    //     color:white;
    //     text-decoration: none;
    //     border-bottom: white 1px solid;
    //     position:relative;
    //     text-decoration: none;
    // }

    // li a::after {
    // background-color: var(--primary-color); 
    // bottom: -24px;
    // content: '';
    // display: block;
    // height: 1px;
    // left: 60%;
    // position: absolute;
    // transform: translate(-60%,0);
    // width: 40px;
    // }

}

ul#menu li a {
    
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 60px;
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    top: -21rem;

    &::after {   
        background: none repeat scroll 0 0 transparent;
        content: "";
        bottom: 0;
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $secundary-color;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
        }
    
    &:hover {
        &::after { 
            width: 100%; 
            left: 0; 
        }
    }

}

ul#menu a, a:active, .menu-separator {
    position: relative;
    top: -21rem;
}

.menu-separator {
    opacity: 0.5;
    border: 1px solid white;
    width: 41px;
    background-color: white;
    list-style-type: none;
    margin: 0 auto;
}

a {
    color: white;
    font-family: $primary-font;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 60px;
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;

    // &::after {   
    //     background: none repeat scroll 0 0 transparent;
    //     content: "";
    //     bottom: 0;
    //     display: block;
    //     height: 2px;
    //     left: 50%;
    //     position: absolute;
    //     background: $secundary-color;
    //     transition: width 0.3s ease 0s, left 0.3s ease 0s;
    //     width: 0;
    //     }
    
    // &:hover {
    //     &::after { 
    //         width: 100%; 
    //         left: 0; 
    //     }
    // }
}

a:link, a:visited {
    text-decoration: none;
}

// .menu {
//     color: white;
//     font-family: $primary-font;
//     font-size: 15px;
//     font-weight: 700;
//     letter-spacing: 0;
//     line-height: 60px;
//     text-decoration: none;
//     position: relative;
//     padding-bottom: 2px;

//     &::after {   
//         background: none repeat scroll 0 0 transparent;
//         content: "";
//         bottom: 0;
//         display: block;
//         height: 2px;
//         left: 50%;
//         position: absolute;
//         background: $secundary-color;
//         transition: width 0.3s ease 0s, left 0.3s ease 0s;
//         width: 0;
//         }
    
//     &:hover {
//         &::after { 
//             width: 100%; 
//             left: 0; 
//         }
//     }
// }

// a:link, a:visited {
//     text-decoration: none;
// }




// tspan .logo__text {
//     font-size: 18px;
//     color: var(--primary-color);
//     word-spacing: 21px;
// }

// nav {
//     display:flex;
//     @media screen and (min-width:980px) {
//         align-items: center;
//     }
// }

// nav ul {
//     display:flex;
//     margin-top: 36px;
//     order: 1;
//     @media screen and (min-width:980px) {
//         order:0;
//     }
// }



// nav ul li {
//     display:flex;
//     list-style: none;
//     justify-content: space-between;
//     margin: 0 auto;
//     @media screen and (min-width:980px) {
//         display:flex;
//         margin-left: 50px;
//     }
// }

// nav ul li a {
//     text-decoration: none;
//     color: var(--primary-color);
//     line-height: 60px;
//     font-family: $primary-font;

//     @media screen and (min-width:980px) {
//         font-size: 13px;
//         font-weight: 700;
//     }
// }

.floating-button-container {

    @media screen and (min-width: 980px) {
        margin-top: 23px;
        margin-right: 156px;
        margin-left: 53px;

    }
    
}


/*Floating Action Button*/
.floating__button {
    border-radius:100%;
    background-color: white;
    width:54px;
    height:54px;
    color: var(--primary-color);
    outline:none;
    border: 1px solid var(--primary-color);
    display:none;
    @media screen and (min-width: 980px) {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
    }
  
}

.floating__button:hover {
    @media screen and (min-width: 980px) {
        background-color: var(--primary-color);
        color: white;
        transition: all ease 0.3s; 
    }
    
}

.kc_fab_main_btn:focus {
  transform:scale(1.1);
  transform:rotate(45deg);
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}


