
/* Hero Section*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__image {
    width: 273px;
    height: 130px;
    margin-bottom: -53px;
    margin-left:22px;
    @media screen and (min-width:499px) {
        position: relative;
        top:53px;
        width: 399px; 
        height: 190px;
        margin: 0 auto;
    }
}

.hero__container {
    display:flex;
    flex-direction: column;
    margin: 0 auto;


    h1 {
        max-width: 286px;
        height:99px;
        margin: 0 auto;
        font-family: $primary-font;
        color: $primary-color;
        font-size: 25px;
        line-height: 33px;
        text-align:center;
        @media screen and (min-width:499px) {
            max-width: 600px;
            height: 100px;
            font-size: 35px;
            line-height: 50px;
            text-align: center;
            margin-top: 76px;
        }
    }

    .hero__container-gifos {
        color: $secundary-color;
    }




    // .hero-search-bar {
    //     position: absolute;
    //     margin-left: 293px;
    //     margin-top: 15px;
    //     @media screen and (min-width: 499px) {
    //         margin-left: 510px;
    //         cursor: pointer;
    //         color:$primary-color;
    //         font-size:20px;
    //     }
    // }


    }

    .hero-search-bar-container {
        display:flex;
        position:relative;
        left: 85%;
        transform: translateX(-85%);
        z-index: 99;
        max-width:551px;
        top: 53px;

        .hero-search-bar {
            position:absolute;
            background-color: white;
            width: 100%;
            border: 1px solid $primary-color;
            border-radius:27px;
        }

        .hero-search__input {
            height: 50px;
            width: 100%;
            background: transparent;
            outline: none;
            border-radius: 27px;
            padding: 0px 55px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: black;
            text-align: left;
            border:none;

            // border-radius: 27px;
            // width:334px;
            // height:50px;
            // padding-left: 50px;
            // position: absolute;
            // padding-left: 50px;
            // border: $primary-color solid 1px;
            @media screen and (min-width: 499px) {
                max-width: 551px;
                ::placeholder {
                    font-family: $secondary-font;
                    color: #9CAFC3;
                    font-size: $primary-size;
                }
            }

        }

        .search-bar__line-divider {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0.5;
            height: 0.5px;
            background-color: #9CAFC3;
            display: none;
            width: 338px;
            margin-top: 74px;
            margin-bottom: 84px;
        }
       
        .hero-search__automcomplete-box {
            overflow-y:auto;


        }

        .hero-search__autocomplete-suggestion {
            font-family: $primary-font;
            font-weight: 400;
            font-size: 18px;
            text-align: left;
            padding: 8px 12px;
            width: 105%;
            border-radius: 3px;
            cursor: default;
            list-style-image: var(--autocomplete-suggestion-list-style-image);
            opacity: 0.5;
            cursor: default;
            transform: scale(0.85);
            color: black;

            &:hover {
                background-color: #efefef;
            } 
    
}

    .hero__search-icon {
        position: absolute;
        left: 20px;
        top: 15px;
        height: 20px;
        width: 20px;
        background-image: url('../../assets/icon-search.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.6;
        display: none;
        cursor: pointer;

        &:active {
            transform: scale(0.90);
        }
    }

    .hero__search-toggle-icon {
        position: absolute;
        right: 20px;
        top: 15px;
        height: 20px;
        width: 20px;
        background-image: url('../../assets/icon-search.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }

    .hero__cancel-search-icon {
        position: absolute;
        right: 20px;
        top: 15px;
        height: 20px;
        width: 20px;
        background-image: url('../../assets/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: scale(0.90);
        cursor: pointer;
        display: none;
    }
}

.hero-search__separator {
    @media screen and (min-width:499px) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 505px;
        opacity: 0.5;
        height: 0.5px;
        background-color: $dark-mode-dark-gray;
        display: none;
    }

}
                    


.hero__trending-terms-container {
    text-align: center;
    @media screen and (min-width:499px) {
        margin-bottom: 95px;

        .hero__trending-terms {
            font-family: $primary-font;
            font-weight: 500;
            font-size: $primary-size;
            color: $primary-color;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
            
            &:hover {
                text-decoration:underline;
            }
            }
    }

}

.hero__trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    line-height: 25px;
    position:relative;
    top:86px;
    z-index: 1;

    .hero__trending--title {
        font-family: $primary-font;
        color: $primary-color;
        text-align: center;
        font-weight: 700;
        margin-top: 73px;
    }

    .hero__trending--text {
        text-align: center;
        font-size: 14px;
        color: $primary-color;
        font-family: $primary-font;
    }
}


a, a:link, a:visited, a:active {
    text-decoration: none;
}


#hero__search {
    @media screen and (min-width: 499px) {
        border:none;
        background: transparent;
    }
    
}

@media screen and (min-width: 499px) {

    #hero-search-live-search {
        border: solid 1px $primary-color;
        margin-top: 3.1rem;
        width: 550px;
        border: 1px solid $primary-color;
        border-bottom-left-radius: 27px;
        border-bottom-right-radius: 27px;
        display: block;
        padding: 3.4rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .live-search-icon {
        color: $light-gray;
        width:15.8px;
        height: 15.8px;
        margin-right:14.6px;
    }
}


