.my-gifos {
    padding-top: 35px;
}

.my-gifos__title--container {
    display:flex;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.mis-gifos-gif-container {
    position: relative;
    display:grid;
    grid-template-columns: repeat(4, minmax(220px, 330px));
    gap: 30px;
    padding: 0 156px;

    @media screen and (min-width: 499px) {
        grid-template-columns: repeat(4, auto);
    }
}

