.my-gifos {
    padding-top: 35px;
    background-color: var(--background-main-color);
}

.my-gifos__title--container {
    display:flex;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.mis-gifos-gif-container {
    position: relative;
    display:grid;
    grid-template-columns: repeat(2, minmax(120px, 250px));
    gap: 30px;
    padding: 0 20px;
    margin-top: 25px;

    @media screen and (min-width: 600px) {
        grid-template-columns: repeat(4, auto);
        margin-top: 25px;
    }
}

.mis-gifos-gif__container {
    // display: inline-block;
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    // margin-right: 29px;
}

.mis-gifos-gif__container:hover .trending-gifos-gif__overlay {
    opacity: 0.7;
    width:100%;
    height:100%;
}

.mis-gifos-gif__container:hover .icon-container {
    opacity:1;
}

.mis-gifos-gif__container:hover .gif-user  {
    position: absolute;
    bottom: 80px;
    left: 18px;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    text-align: left;
    opacity: 1;
    display: block;
}

.mis-gifos-gif__container:hover .gif-title  {
    position: absolute;
    bottom: 40px;
    left: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    opacity: 1;
    height: 36px;
    width: 80%;
    display: block;
}


