
/*Variables*/
:root {
    --primary-color: #572EE5;
    --secundary-color: #5ED7C6;
    --primary-font: Roboto-Black;
}

/*Resets */
*, html {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* Utilities*/

.hidden {
    display:none;
}

.unhidden {
    display:block;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    border-top: solid var(--primary-color) 5px;
}

.logo__container {
    margin-top:18px;
    margin-left: 156px;
}

.logo__desktop, .logo__desktop--noc {
    width: 68px;
    height: 60px;
}

tspan .logo__text {
    font-size: 18px;
    color: var(--primary-color);
    word-spacing: 21px;
}

nav {
    display:flex;

}

nav ul {
display:flex;
margin-top: 36px;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

/*Floating Action Button*/
.floating__button {
  background-color:var(--primary-color);
  width:60px;
  height:60px;
  border-radius:100%;
  background:var(--primary-color);
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.kc_fab_main_btn:focus {
  transform:scale(1.1);
  transform:rotate(45deg);
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}

/* Hero Section*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__image {
    width: 400px;
    height: 190px;
}

.hero__container {
    flex-direction: column;
    margin: 0 auto;
}

.hero-search__input {
    border-radius: 27px;
    width:551px;
    height:50px;
}
