/*Resets */
*, html {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* Utilities*/

.hidden {
    display:none;
}

#hidden {
    display:none;
}

.unhidden {
    display:block;
}


.title {
    line-height: 30px;
    font-family: $primary-font;
    color: $primary-color;
    font-weight: 700;
    text-align: center;
}


.page-wrapper {
    margin: 0 auto;
}

.icon-container {
    display:flex;
    position:absolute;
    top: 10px;
    right: 5px;
    opacity:0;
}

.gif-user {
    display: none;
}

.gif-title {
    display: none;
}

.search-results__gif-container:hover .icon-container {
    opacity:1;
}

.search-results__gif-container:hover .gif-user  {
    position: absolute;
    bottom: 80px;
    left: 18px;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    text-align: left;
    opacity: 1;
    display: block;
}

.search-results__gif-container:hover .gif-title  {
    position: absolute;
    bottom: 40px;
    left: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    opacity: 1;
    height: 36px;
    width: 80%;
    display: block;
}





.icon-fav-false {
    @include loadGifIcon("../../assets/icon-fav.svg");
    opacity: 0.7;
    margin-left: 21px;

    &:hover {
        background-image: url("../../assets/icon-fav-hover.svg");
        background-color: #FFFFFF;
        opacity: 1;
    }

    &:active {
        background-image: url("../../assets/icon-fav-active.svg");
        background-color: #FFFFFF;
        transform: scale(0.98);
    }
}

.icon-fav-true {
    @include loadGifIcon("../../assets/icon-fav-active.svg");
    opacity: 0.9;
    margin-left: 21px;

    &:hover {
        background-image: url("../../assets/icon-fav-active.svg");
        background-color: #FFFFFF;
        opacity: 1;
    }

    &:active {
        background-image: url("../../assets/icon-fav.svg");
        background-color: #FFFFFF;
        transform: scale(0.98);
    }
}

.icon-download {
    @include loadGifIcon("../../assets/icon-download.svg");
    opacity: 0.7;
    margin-left: 11px;

    &:hover {
        background-image: url("../../assets/icon-download-hover.svg");
        background-color: #FFFFFF;
        opacity: 1;
    }

    &:active {
        transform: scale(0.98);
    }
}

.icon-expand {
    @include loadGifIcon("../../assets/icon-max-normal.svg");
    opacity: 0.7;
    margin-right: 5px;
    margin-left: 10px;

    &:hover {
        background-image: url("../../assets/icon-max-hover.svg");
        background-color: #FFFFFF;
        opacity: 1;
    }

    &:active {
        transform: scale(0.98);
    }
}



