/*Resets */
*, html {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* Utilities*/

.hidden {
    display:none;
}

.unhidden {
    display:block;
}

.title {
    line-height: 30px;
    font-family: $primary-font;
    color: $primary-color;
    font-weight: 700;
    text-align: center;
}


.page-wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

/*Dark Modes*/

// #header-dark-mode-border-top-black {
// border-top: solid $night-mode-black 5px;
// }

// #header-dark-mode-gray {
//     background-color: $night-mode-gray;
// }

// #hero-dark-mode-black {
//     background-color: $night-mode-gray;
// }

// #trending-gifos-dark-mode--dark-gray {
//     background-color: $night-mode-dark-gray;
// }


// #footer-dark-mode-border-bottom-black {
// border-bottom: solid $night-mode-black 5px;
// }



// .textToWhite {
//     color:white,
    
// }


