.search-results-container {
    @media screen and (min-width:499px) {
        text-align: center;
        
        .search-results {
            display: grid;
            grid-template-columns: repeat(4, minmax(140px, 260px));
            grid-template-rows: repeat(auto, 200px);
            padding: 0 140px;
            grid-gap: 25px;

            .search-results__gif-container {
                position: relative;
                height: 200px;
                width: 100%;
                }
            }
        }
    }



@media screen and (min-width: 499px) {
    .search-title {
        margin-bottom:60px;
        font-size: 35px;
        text-align: center;
        color: $primary-color;
        line-height: 30px; 
    }

    .hero-search-live-search p {
        margin-bottom: 10px;
    }
}


.search-results__gif-container {
    position:relative;
    height: 200px;
    width: 100%;
    
}

.search-results__gif-container:hover #search-results-overlay  {
    opacity: 0.7;
}

.search-results__gif {
    @media screen and (min-width:499px) {
    height: 100%;
    width: 100%;
    position:relative;
    }
    
}

#search-results-overlay {
    background-color: $primary-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width:auto;
    opacity: 0;
    transition: 0.2s ease;
    }

.button-container {
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
    margin: 39px 0px;
}

.show-more-home {   
width: 127px;
height: 50px;
border: 1px solid $primary-color;
border-radius: 25px;
font-family: $primary-font;
font-weight: 700;
font-size: 13px;
background-color: white;
color: $primary-color;  
letter-spacing: 0;
text-align: center;
display: none;

    &:hover {
        color: white;
        background-color: $primary-color;
        cursor: pointer;
    }

    &:active {
        transform: scale(0.98);
    }

    &:focus {
        outline: none;
    }

}

.disabled {
    opacity:0.2;
    background: $primary-color;
    color:white;
}


