.search-results  {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 250px));
    gap: 25px;
    padding: 0 20px;
}



.search-results-container {
 
    @media screen and (min-width:499px) {
        text-align: center;
        display:flex;
        flex-direction: column;
        
        .search-results {
            display: grid;
            grid-template-columns: repeat(2, minmax(120px, 250px));
            grid-template-rows: repeat(auto, 200px);
            margin: 0 auto;
            grid-gap: 25px;


            .search-results__gif-container {
                height: 120px;
                width: 100%;
                position: relative;
                overflow: hidden;
                @media screen and (min-width: 600px) {
                    height: 200px;
                }
                
                }
            }
        }
    }

    .search-title {
    display:block;
    position: relative;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.5625em;
    color: var(--primary-color);
    text-align: center;
    line-height: 40px;
    margin-bottom: 38px;

        @media screen and (min-width: 600px) {
        margin-bottom:60px;
        font-size: 35px;
        text-align: center;
        color: var(--primary-color);
        line-height: 30px; 
    }

    .hero-search-live-search p {
        margin-bottom: 10px;
    }
}


.search-results__gif-container {
    position:relative;
    height: 120px;
    width: 100%;
    overflow: hidden;
    
}

.search-results__gif-container:hover #search-results-overlay  {
    opacity: 0.7;
}

.search-results__gif {
    @media screen and (min-width:499px) {
    height: 100%;
    width: 100%;
    position:relative;
    }
    
}

#search-results-overlay {
    background-color: $primary-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width:auto;
    opacity: 0;
    transition: 0.2s ease;
    }

.button-container {
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
    margin: 39px 0px;
}

.show-more-home {   
width: 127px;
height: 50px;
border: 1px solid var(--border);
border-radius: 25px;
font-family: $primary-font;
font-weight: 700;
font-size: 13px;
background-color: var(--button-background);
color: var(--primary-color);
letter-spacing: 0;
text-align: center;
display: none;

    &:hover {
        color: var(--button-background);
        background-color: var(--primary-color);
        cursor: pointer;
    }

    &:active {
        transform: scale(0.98);
    }

    &:focus {
        outline: none;
    }

}

.disabled {
    opacity:0.2;
    background: var(--primary-color);
    color:white;
}


.modal {
    display: none; 
    justify-items: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    padding: 160px 28px 50px 28px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: white;

    .close-modal-icon {
        position: absolute;
        top: 10%;
        right: 28px;
        background-image: url('../../assets/close.svg');
        background-repeat: none;
        background-size: contain;
        height: 15.2px;
        width: 15.2px;
        cursor: pointer;

        &:active {
            transform: scale(0.98);
        }
    }

    .modal-img {
        width: 100%;
        height: 245px;
        @media screen and (min-width:499px) {
            max-width: 60%;
            min-width: 20%;
            height: 385px;  
        }
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        padding: 27px 0px;
        @media screen and (min-width:499px) {
            max-width: 60%;
            min-width: 20%; 
        }

        .modal-titles-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .modal-username {
                font-family: $secondary-font;
                font-weight: 400;
                font-size: 15px;
                color: black;
                text-align: left;
            }

            .modal-title {
                font-family: $secondary-font;
                font-weight: 700;
                font-size: 16px;
                color: black;
                text-align: left;
            }
        }

        .modal-icons-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            
    
            .icon-fav-false {
                @include loadGifIcon("../../assets/icon-fav.svg");
                opacity: 0.7;
                margin-left: 21px;
        
                &:hover {
                    background-image: url("../../assets/icon-fav-hover.svg");
                    background-color: white;
                    opacity: 1;
                }
        
                &:active {
                    background-image: url("../../assets/icon-fav-active.svg");
                    background-color: white;
                    transform: scale(0.98);
                }
            }

            .icon-fav-true {
                @include loadGifIcon("../../assets/icon-fav-active.svg");
                opacity: 0.9;
                margin-left: 21px;
        
                &:hover {
                    background-image: url("../../assets/icon-fav-active.svg");
                    background-color: white;
                    opacity: 1;
                }
        
                &:active {
                    background-image: url("../../assets/icon-fav.svg");
                    background-color: white;
                    transform: scale(0.98);
                }
            }

            .icon-download {
                @include loadGifIcon("../../assets/icon-download.svg");
                opacity: 0.7;
                margin-left: 21px;
        
                &:hover {
                    background-image: url("../../assets/icon-download-hover.svg");
                    background-color: white;
                    opacity: 1;
                }

                &:active {
                    transform: scale(0.98);
                }
            }
        }
    }
}

.icon-delete {
    @include loadGifIcon("../../assets/icon-trash-normal.svg");
    opacity: 0.7;
    margin-right: 5px;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.7;
    margin-right: 5px;
    height: 32px;
    width: 32px;

    &:hover {
        background-image: url("../../assets/icon-trash-hover.svg");
        background-color: white;
        opacity: 1;
    }

    &:active {
        transform: scale(0.98);
    }
}

